<!-- <form>
  <div class="form-group">
    <!-- setting the label for as the id of the input makes the input get focus when user click on it -->
    <!-- <label for="firstName">FirstName</label>
    <input id="firstName" type="text" class="form-control" placeholder="FirstName" >
  </div> -->

  <!-- <div class="form-group">
    <!-- setting the label for as the id of the input makes the input get focus when user click on it -->
    <!-- <label for="comment"> Comment </label>
    <textarea id="comment" type="text" cols="30" rows="10" class="form-control" placeholder="Comment" ></textarea>
    </div>
  <button type="button"  class="btn btn-primary"> Submit </button> 
</form> --> 