<form [formGroup]="formObject">
    <div class="form-group">
        <label for="old">Old Password:</label>
        <input formControlName="oldPass" type="text" class="form-control" id="old">
        <!-- Show error if the field is touched and not valid-->
        <div *ngIf="old.touched && old.invalid" class="alert alert-danger">
            <!-- Check for Error on each Validator with *ngIf -->
            <div *ngIf="old.errors.required"> Old Password is required</div>
            <!-- Check for Error on our Custom Async Validator   -->
            <div *ngIf="old.errors.invalidOldPassword"> Old paswword don't match</div>
        </div>
    </div>
    <div class="form-group">
        <label for="newpass1">New Password:</label>
        <input formControlName="newPass1" type="text" class="form-control" id="newpass1">
        <!-- Show error if the field is touched and not valid -->
        <div *ngIf="new.touched && new.invalid" class="alert alert-danger">
            <!-- Check for Error on each Validator with *ngIf -->
            <div *ngIf="new.errors.required"> New is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="newpass2">Confirm Password:</label>
        <input formControlName="newPass2" type="text" class="form-control" id="newpass2">
        <!-- Show error if the field is touched and not valid-->
        <div *ngIf="confirm.touched && confirm.invalid" class="alert alert-danger">
            <!-- Check for Error on each Validator with *ngIf -->
            <div *ngIf="confirm.errors.required"> New is required</div>
        </div>
        <!-- Only if the passwords don't math -->
            <div *ngIf="confirm.valid && new.valid && formObject.invalid && !formObject.errors.passwordsShouldMatch" class="alert alert-danger"> Passwords don't match</div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="formObject.invalid">Change</button>
</form>




<!--
https://angular.io/api/forms/AbstractControl

The validation status of the control. There are four possible validation statuses:

VALID: control has passed all validation checks
INVALID: control has failed at least one validation check
PENDING: control is in the midst of conducting a validation check



*with [disabled] the button is diasabled if the boolean result is true, and abled when false
[disabled] = "disabledConfirm()"  

disabledConfirm() is a function in our .ts class, will check if there are errors in our form and return a boolean.

disabledConfirm() {
    return !this.formObject.valid
    
    console.log("operation form valid: ", this.formObject.valid); --view boolean result

    console.log("operation form valid: ", this.formObject); --view formObject with it's controls and values 

}
-->
