
<!-- We us PROPERTY BIND  to bind 'isFavourite' to the a field/attribute that exist in this app component
bcos it is defined as @Input in the favourite component -->
<app-favourite [isFavourite] = 'post.isFavourite' (change)= 'onFavouriteChanged($event)'></app-favourite>

<!-- (change) : Event that will be notified when an event is raised (With/Without data) in the customComponent through the @Output.
$event : Represents anything that we passed when Notifying/Raising an event.
 -->

 <app-bootstrap-panel>
     <div class="heading">Heading </div>
     <div class="body"> 
         <H2>Body</H2>
         <p></p>
     </div>

 </app-bootstrap-panel>

 <app-bootstrap-twitter-like 
        [like]= 'tweet.isliked' 
        [countLikes]= 'tweet.likes' >
</app-bootstrap-twitter-like>