
<form [formGroup]="formObject" class="container col-sm-6">
  <h1>User</h1>
  <fieldset >
    <div class="form-group " formGroupName="User" >
      <label for="name">Name:</label>
      <input formControlName="Name" type="text" class="form-control" id="name">
      <!-- Name Control VALIDATION of User FormGroup -->
      <div *ngIf="this.formObject.controls['User'].get('Name').touched && this.formObject.controls['User'].get('Name').invalid" class="alert alert-danger">
        
        <div *ngIf="this.formObject.controls['User'].get('Name').errors.required"> Name is required</div>

      </div>
      

      <label for="email">Email:</label>
      <input formControlName="Email" type="text" class="form-control" id="email">
      <!-- Name Control VALIDATION of User FormGroup -->
      <div *ngIf="email.touched && email.invalid"  class="alert alert-danger">
        
        <div *ngIf="email.errors.required"> Email is required</div>

      </div>



      <label for="phone">Phone:</label>
      <input formControlName="Phone" type="text" class="form-control" id="phone">
       <!-- Phone Control VALIDATION of User FormGroup -->
       <div *ngIf="phone.touched && phone.invalid"  class="alert alert-danger">
        
        <div *ngIf="phone.errors.required"> Phone is required</div>

      </div>
    </div>

    <h1>Addresses</h1>
    <div formArrayName="Addresses">
      <div *ngFor="let address of formObject.controls['Addresses'].controls; let i = index ">
        <div>
          <span>Address {{i + 1}}</span>
          
        </div>

        <div [formGroupName]=i>
          <label for="street">Street:</label>
          <input formControlName="Street" type="text" class="form-control" id="street">
          <label for="suite">Suite:</label>
          <input formControlName="Suite" type="text" class="form-control" id="suite">
          <label for="city">City:</label>
          <div class="row">
            <div class="form-group col-sm-6">
              <input formControlName="City" type="text" class="form-control" id="city">
            </div>
            <div class="form-group col-sm-4">
              <label for="zipcode">ZipCode:</label>
              <input formControlName="ZipCode" type="text" class="form-control" id="zipcode">
            </div>
          </div>
        </div>
        <div class="margin-20">
          <span class="fa fa-plus pull-right" align="right" aria-hidden="true" (click)="addFormGroupToFormArray()">
          
          </span>

          <span class="fa fa-trash-o pull-right" align="right" aria-hidden="true" *ngIf="formObject.controls['Addresses'].controls.length > 1"
            (click)="removeAddress(i)">
          </span>
        </div>
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-primary" [disabled]="checkFormValidity()" (click)=Save()>Change</button>
    </div>
  </fieldset>
</form>

